<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Donate</title>
  <link rel="stylesheet" href="style.css">
  <style>
    body {
      padding-top: 60px;
    }
  </style>
</head>
<body>
  <header>
    <div class="backToHome">
      <a href="worldvision40hrchallenge/index.html"><img src="worldvision40hrchallenge/terminal.png" alt="Back to Home"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Sources</a></li>
        <li><a href="#">Get Involved</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="infoCard">
      <div style="display: inline;">
        <h2>Charity name</h1>
        <h4>When they were founded</h4> <!-- or when they were founded -->
        <p>Some more info about them</p>
      </div>
      <div style="display: inline;">
        <img> <!-- optional img fo charity --> 
      </div>
      
    </div>
  </main>
</body>
</html>
