<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="/worldvision40hrchallenge/style.css">
</head>
<body>
  <header>
    <div class="backToHome">
      <a href="/worldvision40hrchallenge/index.html"><img src="/worldvision40hrchallenge/terminal.png" alt="Back to Home"></a>
    </div>
    <nav>
      <ul>
        <li><a href="index.html">Overview</a></li>
        <li><a href="sources.html">Sources</a></li>
        <li><a href="#">Get Involved</a></li>
      </ul>
    </nav>
  </header>
  <div class="main cardsGrid">
    <div id="sourceList">
        
    </div>
  </div>
</body>
</html>
