<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template</title>
  <link rel="stylesheet" href="Template.css">
</head>
<body>
  <header>
    <div class="backToHome">
      <a href="/index.html"><img src="/terminal.png" alt="Back to Home"></a>
    </div>
    <nav>
      <ul>
        <li><a href="#">Overview</a></li>
        <li><a href="#">Sources</a></li>
        <li><a href="#">Get Involved</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="hero">
      <div id="heroImg">
        <h1 id="heroTitle">Template</h1>
        <p>Dedicated to _____ since ____</p>
      </div>
    </section>
    <section id="info">
      <div class="infoCard"></div>
    </section>
    
  </main>
</body>
</html>
