body {
  padding-top: 90px;
  background-color: lightgray;
  font-family: Arial;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#homeLogo {
  height: 60px;
}

.card {
  display: inline-block;
  background-color: grey;
  border-radius: 30px;
  padding: 0px;
  width: 200px;
  height: 300px;
  text-wrap: wrap;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
}
.card:hover {
  opacity: 0.7;
  cursor: pointer;
  z-index: -1;
}
.card:active {
  background-color: rgb(168, 164, 164);
  opacity: 0.5;
}

.causeTitle {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardPhoto {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 200px;
}

#cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px
}

#head {
  background-color: orangered;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#headRight {
  position: absolute;
  right: 10px;
}
#headMiddle {
  display: flex;
}
#headRight h1 {
  display: inline;
  padding: 0 20px;
}
#headLeft {
  position:absolute ;
  left: 10px;
}
.headingLink {
  text-decoration: none;
  color: black;
}
.searchBar {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color:black;
}
